.label{
    color:aliceblue;
}
#text{
    color:aliceblue;
}
.inputslika{
    color:black;
}
.select{
    border-radius:20px;
}
#divunos{
    border-radius: 20px;
    border-style: solid;
    border-color: aliceblue;
    margin-top: 25px;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}
h1{
    margin-top: 5px;
    color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.button{
  width: 50%;
margin: auto;
margin-bottom: 10px;
background-color:#121212 ;
color: aliceblue;
border-radius: 5px;
}
#message{
    margin-left: 10px;
    width: 400px;
}