.root {
    background:#282828;
    font-family: 'Times New Roman', Times, serif;
}
.div{
    width: 1524px;
}
.div1{
    width: 1524px;
}
.divkartice {
    visibility: visible;
   
  }
  .footer {

    height: 50px;
    background-color: purple;
    border-top:2px solid rgb(250, 250, 250);
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    border-radius: 20px 0px;
   }
   #izradio{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 200px;
    padding-right: 50px;
    position: absolute;
    right: 0;
   }
   .buttoni{
    background-color: purple;
    color: white;
    margin-right: 20px;
    margin-left: 50px;
   }
   .small{
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    right: 0;
    margin-right: 350px;
   }
